In [1]:
import pandas as pd
import re
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

In [2]:
df = pd.read_csv('lyrics_data.csv')
df.head()

   Unnamed: 0 genre                                             lyrics
0           0   pop  hold time feel break feel untrue convince spea...
1           1   pop  believe drop rain fall grow believe darkest ni...
2           2   pop  sweetheart send letter goodbye secret feel bet...
3           3   pop  kiss lips want stroll charm mambo chacha merin...
4           4   pop  till darling till matter know till dream live ...

In [3]:
df.drop(['Unnamed: 0'], axis=1, inplace=True)
df.size

56744

In [4]:
df.head()

  genre                                             lyrics
0   pop  hold time feel break feel untrue convince spea...
1   pop  believe drop rain fall grow believe darkest ni...
2   pop  sweetheart send letter goodbye secret feel bet...
3   pop  kiss lips want stroll charm mambo chacha merin...
4   pop  till darling till matter know till dream live ...

In [5]:
# non english replacement
def isEnglish(s):
  return s.isascii()
df['isEnglish'] = df['lyrics'].apply(lambda x: isEnglish(x))
df = df[df['isEnglish'] == True]
df.drop(['isEnglish'], axis=1, inplace=True)

In [6]:
# remove puntuation
df['lyrics'] = df['lyrics'].map(lambda x : re.sub(r"""[!"#\$%&'\(\)\*\+,-\./:;\<=\>?\[\]\^_`\{\|\}~“”’]""", '', x))
#lower case
df['lyrics'] = df['lyrics'].map(lambda x: x.lower())
#remove double space
df['lyrics'] = df["lyrics"].str.replace(r"\s+", " ", regex=True).str.strip()

In [7]:
#lemmatization
lemmatizer = WordNetLemmatizer()
df['lyrics'] = df['lyrics'].map(lambda x: ' '.join([lemmatizer.lemmatize(word, pos='v') for word in x.split()]))

In [8]:
# remove stop words
nltk.download('stopwords')
stop_words = stopwords.words('english')
rm_words = set(stop_words)
df["lyrics"] = df["lyrics"].str.split().apply(lambda x: " ".join(word for word in x if word not in rm_words))

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/liuxiaoquan/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [9]:
df.head()

  genre                                             lyrics
0   pop  hold time feel break feel untrue convince spea...
1   pop  believe drop rain fall grow believe darkest ni...
2   pop  sweetheart send letter goodbye secret feel bet...
3   pop  kiss lips want stroll charm mambo chacha merin...
4   pop  till darling till matter know till dream live ...

In [10]:
#count the number of rows for each genre
df.groupby('genre').count()

         lyrics
genre
blues      4571
country    5409
hip hop     885
jazz       3784
pop        6916
reggae     2464
rock       4002

In [11]:
#export to csv
df.to_csv('lyrics_data_clean.csv')

In [12]:
df.shape

(28031, 2)